@model LSA.Entities.FileInformation
@{
    ViewData["Title"] = "PcaAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PCA_Analysis</h1>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

<script>
    var pc1 = @Html.Raw(Json.Serialize(ViewBag.PC1));
    var pc2 = @Html.Raw(Json.Serialize(ViewBag.PC2));
    var pc3 = @Html.Raw(Json.Serialize(ViewBag.PC3));

    window.addEventListener("load", () => {
      draw3dGraphPCA(pc1,pc2,pc3);
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="align-middle" id="mygraph" style="width: 100%;height: 600px; font-weight:600"></div>

        <div id="info"></div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                PC1
            </th>
            <th>
                PC2
            </th>
            <th>
                PC3
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.rows; i++)
        {
            <tr>
                @for (int j = 0; j < ViewBag.columns; j++)
                {
                    <td>
                        @Html.Raw(ViewBag.data[i][j])
                    </td>
                }
            </tr>
        }
    </tbody>
</table>