@model LSA.Entities.TastingHistory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Tasting List</h1>

    <h3>Tasting Name: @ViewBag.tastingName</h3>
    <h3>Product number in tasting: @ViewBag.productCount</h3>

<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
            <h4>View parametres</h4>
        </div>
        <div class="col-md-2">
            <label asp-for="ViewProse" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewProse" id="ViewProse1" value="5" checked>
                <label class="form-check-label" for="ViewProse1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewProse" id="ViewProse2" value="4">
                <label class="form-check-label" for="ViewProse2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewProse" id="ViewProse3" value="3">
                <label class="form-check-label" for="ViewProse3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewProse" id="ViewProse4" value="2">
                <label class="form-check-label" for="ViewProse4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewProse" id="ViewProse5" value="1">
                <label class="form-check-label" for="ViewProse5">
                    Bad
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <label asp-for="ViewColour" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewColour" id="ViewColour1" value="10" checked>
                <label class="form-check-label" for="ViewColour1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewColour" id="ViewColour2" value="8">
                <label class="form-check-label" for="ViewColour2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewColour" id="ViewColour3" value="6">
                <label class="form-check-label" for="ViewColour3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewColour" id="ViewColour4" value="4">
                <label class="form-check-label" for="ViewColour4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ViewColour" id="ViewColour5" value="2">
                <label class="form-check-label" for="ViewColour5">
                    Bad
                </label>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <h4>Bouquet parametres</h4>
        </div>
        <div class="col-md-2">
            <label asp-for="BouquetClean" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetClean" id="BouquetClean1" value="6" checked>
                <label class="form-check-label" for="BouquetClean1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetClean" id="BouquetClean2" value="5">
                <label class="form-check-label" for="BouquetClean2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetClean" id="BouquetClean3" value="4">
                <label class="form-check-label" for="BouquetClean3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetClean" id="BouquetClean4" value="3">
                <label class="form-check-label" for="BouquetClean4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetClean" id="BouquetClean5" value="2">
                <label class="form-check-label" for="BouquetClean5">
                    Bad
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <label asp-for="BouquetIntensity" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetIntensity" id="BouquetIntensity1" value="8" checked>
                <label class="form-check-label" for="BouquetIntensity1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetIntensity" id="BouquetIntensity2" value="7">
                <label class="form-check-label" for="BouquetIntensity2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetIntensity" id="BouquetIntensity3" value="6">
                <label class="form-check-label" for="BouquetIntensity3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetIntensity" id="BouquetIntensity4" value="4">
                <label class="form-check-label" for="BouquetIntensity4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetIntensity" id="BouquetIntensity5" value="2">
                <label class="form-check-label" for="BouquetIntensity5">
                    Bad
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <label asp-for="BouquetQuality" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetQuality" id="BouquetQuality1" value="16" checked>
                <label class="form-check-label" for="BouquetQuality1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetQuality" id="BouquetQuality2" value="14">
                <label class="form-check-label" for="BouquetQuality2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetQuality" id="BouquetQuality3" value="12">
                <label class="form-check-label" for="BouquetQuality3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetQuality" id="BouquetQuality4" value="10">
                <label class="form-check-label" for="BouquetQuality4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="BouquetQuality" id="BouquetQuality5" value="8">
                <label class="form-check-label" for="BouquetQuality5">
                    Bad
                </label>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <h4>Taste parametres</h4>
        </div>
        <div class="col-md-2">
            <label asp-for="TasteColour" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteColour" id="TasteColour1" value="6" checked>
                <label class="form-check-label" for="TasteColour1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteColour" id="TasteColour2" value="5">
                <label class="form-check-label" for="TasteColour2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteColour" id="TasteColour3" value="4">
                <label class="form-check-label" for="TasteColour3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteColour" id="TasteColour4" value="3">
                <label class="form-check-label" for="TasteColour4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteColour" id="TasteColour5" value="2">
                <label class="form-check-label" for="TasteColour5">
                    Bad
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <label asp-for="TasteIntensity" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteIntensity" id="TasteIntensity1" value="8" checked>
                <label class="form-check-label" for="TasteIntensity1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteIntensity" id="TasteIntensity2" value="7">
                <label class="form-check-label" for="TasteIntensity2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteIntensity" id="TasteIntensity3" value="6">
                <label class="form-check-label" for="TasteIntensity3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteIntensity" id="TasteIntensity4" value="5">
                <label class="form-check-label" for="TasteIntensity4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteIntensity" id="TasteIntensity5" value="4">
                <label class="form-check-label" for="TasteIntensity5">
                    Bad
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <label asp-for="TasteAftertaste" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteAftertaste" id="TasteAftertaste1" value="8" checked>
                <label class="form-check-label" for="TasteAftertaste1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteAftertaste" id="TasteAftertaste2" value="7">
                <label class="form-check-label" for="TasteAftertaste2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteAftertaste" id="TasteAftertaste3" value="6">
                <label class="form-check-label" for="TasteAftertaste3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteAftertaste" id="TasteAftertaste4" value="5">
                <label class="form-check-label" for="TasteColour4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteAftertaste" id="TasteAftertaste5" value="4">
                <label class="form-check-label" for="TasteAftertaste5">
                    Bad
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <label asp-for="TastePotencial" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TastePotencial" id="TastePotencial1" value="6" checked>
                <label class="form-check-label" for="TastePotencial1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TastePotencial" id="TastePotencial2" value="5">
                <label class="form-check-label" for="TastePotencial2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TastePotencial" id="TastePotencial3" value="5">
                <label class="form-check-label" for="TastePotencial3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TastePotencial" id="TastePotencial4" value="3">
                <label class="form-check-label" for="TastePotencial4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TastePotencial" id="TastePotencial5" value="2">
                <label class="form-check-label" for="TastePotencial5">
                    Bad
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <label asp-for="TasteQuality" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteQuality" id="TasteQuality1" value="22" checked>
                <label class="form-check-label" for="TasteQuality1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteQuality" id="TasteQuality2" value="19">
                <label class="form-check-label" for="TasteQuality2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteQuality" id="TasteQuality3" value="16">
                <label class="form-check-label" for="TasteQuality3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteQuality" id="TasteQuality4" value="13">
                <label class="form-check-label" for="TasteQuality4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="TasteQuality" id="TasteQuality5" value="10">
                <label class="form-check-label" for="TasteQuality5">
                    Bad
                </label>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <h4>Garmony</h4>
        </div>
        <div class="col-md-2">
            <label asp-for="Garmony" class="control-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Garmony" id="Garmony1" value="5" checked>
                <label class="form-check-label" for="Garmony1">
                    Great
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Garmony" id="Garmony2" value="4">
                <label class="form-check-label" for="Garmony2">
                    Very Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Garmony" id="Garmony3" value="3">
                <label class="form-check-label" for="Garmony3">
                    Good
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Garmony" id="Garmony4" value="2">
                <label class="form-check-label" for="Garmony4">
                    Not Bad
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Garmony" id="Garmony5" value="1">
                <label class="form-check-label" for="Garmony5">
                    Bad
                </label>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Penalty" class="control-label"></label>
                <input asp-for="Penalty" class="form-control" />
                <span asp-validation-for="Penalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

    <div>
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
