
@{
    ViewData["Title"] = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <header>
        <h1 class="text-danger">Warning.</h1>
        <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
        <p class="text-danger">If you need, you could contact the administrator by the next email: <a href="mailto:arty4prof@gmail.com">arty4prof@gmail.com</a>.</p>
    </header>

